:root {
  --primary: #ed4b54;
  --secondary: #1f2235;
  --tertiary: #23263a;
  --grey: #cfd0d4;
  --red: #c54349;
  --red-darken: #9d383d;
}

.color-primary {
  color: var(--primary) !important;
}

.color-secondary {
  color: var(--secondary) !important;
}

.color-tertiary {
  color: var(--tertiary) !important;
}

.bg-primary {
  background-color: var(--primary) !important;
}

.bg-secondary {
  background-color: var(--secondary) !important;
}

.bg-tertiary {
  background-color: var(--tertiary) !important;
}